<!DOCTYPE html>
  <head>
    <title>Rocket.Q - Perguntas e Respostas </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room.css" />
    <link rel="stylesheet" href="/styles/modal.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    /> 
  </head>
  <body>
    <div class="content" id="room">
      <header>
        <a href="/">
          <img src="/img/logo.svg" alt="logo">
        </a>
        <div class="buttons">
          <div class="button  outlined" id="room-id" data-id="123456">
            #123456
            <img src="/img/papers.svg" alt="copiar o número da sala">  
          </div>
          <a href="#" class="button">
            <img src="/img/users-white.svg" alt="Criar sala">
            Criar sala
          </a>
        </div>
      </header>
      <main>
        <section id="question-form">
          <h2>Faça sua Pergunta</h2>
          <form action="">
            <label for-id="question" class="sr-only">O que você quer perguntar?</label>
            <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
            <footer>
              <div>
                <img src="/img/lock.svg" alt="cadeado">
                Esta pergunta é anônima
              </div>
              <button class="button">Enviar</button>
            </footer>
          </form>
        </section>
        <section id="questions">
          <h2 class="sr-only">Perguntas da comumnidade</h2>
          <div class="questions">
            <div class="question-wrapper">
              <div class="question-content">
                <img src="/img/user.svg" alt="" class="user">
                <div class="question">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat quisquam ea cum suscipit consequatur, ad pariatur officiis ducimus ab mollitia error soluta repellat odit delectus nam vitae est! Adipisci! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae sunt fuga, praesentium earum nihil nemo possimus vero, ad recusandae, incidunt explicabo non quaerat sapiente dolore at consequuntur pariatur cum mollitia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit veritatis minima culpa, eveniet rem officia aperiam vitae laudantium reprehenderit ea quaerat! Beatae autem corrupti qui odio tempore odit deserunt?</p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="check" data-id="2"> 
                  <img src="/img/check.svg" alt="">
                  Marcar como lida
                </a>
                <a href="#" class="delete" data-id="2">
                  <img src="/img/trash.svg" alt="">
                  Excluir
                </a>
              </div>
            </div>
            <div class="question-wrapper">
              <div class="question-content">
                <img src="/img/user.svg" alt="" class="user">
                <div class="question">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eius dolorum, voluptates illum error voluptatum fugiat praesentium quia facilis aut sint! Mollitia non commodi, dicta laboriosam quam consectetur quasi deserunt?</p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="check" data-id="3">
                  <img src="/img/check.svg" alt="">
                  Marcar como lida
                </a>
                <a href="#" class="delete" data-id="3">
                  <img src="/img/trash.svg" alt="">
                  Excluir
                </a>
              </div>
            </div>
            <div class="question-wrapper read">
              <div class="question-content">
                <img src="/img/user.svg" alt="" class="user">
                <div class="question">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis doloremque quod iste dolorem eum earum ducimus eveniet molestiae, omnis repellendus in exercitationem quidem nam iusto? Ab, voluptate temporibus. Ratione, ipsa.</p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="check" data-id="1">
                  <img src="/img/check.svg" alt="">
                  Marcar como lida
                </a>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <div class="modal-wrapper">
      <div class="modal">
        <h2>Excluir pergunta</h2>
        <p>Tem certeza que você deseja excluir essa pergunta?</p>
        <form action="#" method="POST">
          <label for-id="password" class="sr-only"></label>
          <input type="password" name="password" placeholder="Digite sua senha">
          <div class="buttons">
            <div class="button grey cancel">Cancelar</div>
            <button class="button red">Sim, excluir</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/scripts/main.js" defer type="module"></script>
  </body>
</html>
