.modal-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--shadow-color);
  font-family: 'Poppins', sans-serif;

  visibility: hidden;
  opacity: 0;
}

.modal-wrapper.show {
  visibility: visible;
  opacity: 1;
}

.modal {
  background: var(--white);
  width: min(35rem, 90%);
  margin: auto;
  border-radius: 0.5rem;
  text-align: center;
  padding: 4rem;
}

.modal h2 {
  color: var(--black);
  margin-bottom: 0.75rem;
}

.modal p {
  color: var(--dark-grey);
  margin-bottom: 1.5rem;
}

.modal input {
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--blue);
  padding: 0.8rem 1rem;
  width: min(18rem, 90%);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  padding: 0.8rem 2rem;
}
