* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

input {
  outline: none;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --dark-grey: #4d5e77;
  --blue-grey: #a1b2cd;
  --light-grey: #e5eaf1;
  --low-opacity-gray: #eaecf2;
  --shadow-color: rgb(4, 9, 17, 0.5);
}

body {
  height: 100vh;
  background: var(--background);
  display: flex;
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1rem, 2vw);
  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 100%;
  margin: 0 10rem;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: (0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content header img {
  width: 10rem;
  margin: 2rem 0rem;
}

input,
.button {
  border-radius: 0.5rem;
  height: 3.125rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--icons-details);
}

.button {
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--white);

  cursor: pointer;

  transition: filter 0.2s;
}

.button.red {
  background: var(--red);
  color: var(--white);
}

.button.grey {
  background: var(--light-grey);
  color: var(--dark-grey);
}

.button .button:hover {
  filter: brightness(1.1);
}

.button img {
  margin-right: 0.5rem;
  width: 1.2rem;
}

.button.outlined {
  background: var(--white);
  color: #3485ff;

  border: 0.125rem solid var(--blue);
}
