.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7.1rem 1fr;
  grid-template-areas:
    'header header'
    'left right';
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  background: url(/assets/home-bg-img.svg) no-repeat top/contain;
  margin-left: 0rem;
}

main {
  grid-area: right;
  display: flex;
  align-items: center;
}

main .container {
  width: min(22.7rem, 100%);
  margin-top: -3rem;
  margin-left: 10rem;
}

main h2 {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: clamp(20px, 1.75rem, 5vw);
  margin-bottom: 1.5rem;
}

input {
  border: 0.125rem solid var(--blue-grey);
  padding: 0 1rem;
}

input,
button {
  width: 100%;
  margin-bottom: 1.125rem;
}

.separator {
  display: flex;
  align-items: center;
}

.separator #or {
  color: var(--blue-grey);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0 1rem;
  line-height: 0;
  margin: 2.5rem 0;
}

.separator .line {
  background: var(--blue-grey);
  height: 1px;
  width: 100%;
}

.ball {
  background: var(--blue);

  position: fixed;
  clip-path: circle();
  opacity: 0.1;
}

.ball.top {
  width: 40rem;
  height: 40rem;
  top: -20rem;
  right: -20rem;
}

.ball.bottom {
  width: 13.5rem;
  height: 13.5rem;
  right: 3.5rem;
  bottom: -9rem;
}
